/*----------------------------------------------
/* BASIC SETUPS */
/*----------------------------------------------*/

@font-face {
    font-family: pedija-bold;
    src: url(../fonts/poppins.bold.ttf);
}
@font-face {
    font-family: pedija-regular;
    src: url(../fonts/poppins.regular.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #fff;
    color: #141313;
    font-family: pedija-regular;
    text-rendering: optimizeLegibility;
}

/*----------------------------------------------
/* REUSABLE COMPONENTS */
/*----------------------------------------------*/
.mb-container {
  max-width: 375pt;
  height: 745pt;
  overflow: hidden;
  background-color: #ffffff;
  margin: 0px auto;
  opacity: 1;
  border: 1px solid #eee;
  padding: 20px 15px;
}

/* DIVIDER ROW*/

.divider-2pt:after {
    display: block;
    height: 2pt;
    background-color: #EDEDED;
    content: " ";
    width: 375pt;
    margin: 20px -15px 0px -15px;
}
.divider-4pt:after {
    display: block;
    height: 4pt;
    background-color: #f5f4f4;
    content: " ";
    width: 100vw;
    margin: 25pt -15px 0px -15px;
}
.divider-10pt:after {
    display: block;
    height: 10pt;
    background-color: #EFF0F7;
    content: " ";
    width: 375pt;
    margin: 25px -15px 0px -15px;
}

/* COMMON ICON CSS */

.location-next-icon {
    display: block;
    float: right;
    margin-top: 5px;
    width: 10.86pt;
    height: 12.87pt;
}
.text-wrap-inline {
    height: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*----------------------------------------------
/* Header */
/*----------------------------------------------*/

.search-header {
    height: 40pt;
    width: 100%;
}

.crossPageIcon {
  width: 20px;
  height: 100%;
}

.searchBar {
  margin-left: 11px;    
  width: calc(100% - 31px);
  height: 90%;
  border: 1pt solid #e3e3e3;
  background-color: #f5f4f4;
  padding: 10px;
  border-radius: 3pt;
  float: right;
}
.searchBar > img {
  width: 20px;
  height: auto;
  vertical-align: sub;    
}
.searchBar > input {
  border: none;
  width: calc(100% - 50px);
  height: auto; 
  background: transparent;
  font-size: 14pt;
  padding-left: 8px;
  text-align: left;
  color: #242A4B;
  opacity: 100%;
}
::placeholder {
  color: #bcbfd1;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #bcbfd1;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: #bcbfd1;
}
.searchBar > input:focus{
    border: none;
     border-style: none;
    outline: none !important;
}

/***********************************/
 /* Clear button */
/********************************/

.clear-button {
    flex: 1 0 auto;
    display: none;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    padding: 0;
    line-height: 44px;
    float: right;
    width: 25px;
}

.lBbtTb {
    height: 100%;
    color: #80868b;
    vertical-align: middle;
    outline: none;
}

.z1asCe {
    display: inline-block;
    fill: #80868b;
    height: 24px;
    line-height: 24px;
    position: relative;
    width: 24px;
}
.z1asCe svg {
    display: block;
    height: 100%;
    width: 100%;
}

.searchBar > input:not([value=""]) + .clear-button {
        display: flex;   
}

/************************************/
/* SECTION CSS */
/************************/

.section-header {
    color: #242A4B;
    font-size: 18pt;
    text-align: left;
    font-family: pedija-bold;
    opacity: 100%;
    margin-top: 35px;
    margin-bottom: 35px;
    height: 20pt;
    width: 100%;
}
.location-detect p {
    display: block;
    width: calc(100% - 51px);
    float: left;
    height: 40px;
    font-size: 14pt;
    color: #541871;
    opacity: 100%;
    margin-left:10px;
    
}
.location-result p {
    color: #242A4B;
}

.location-detect a:hover {
     outline: none !important;
     text-decoration: none;
}

.location-result:after {
    display: block;
    clear: both;
    height: 1.5pt;
    background-color: #EDEDED;
    content: " ";
    width: 100%;
    margin: 20px 0px 20px 0px;
}
.location-detect {
    height: 50px;
    max-width: 100%;
    zoom: 1;
}


/**************************************/
/* MEDIA QUERRY */
/********************************/

@media screen and (max-width: 425px) {
    .divider-2pt:after {
        margin-top: 50px;
    }
}
@media screen and (max-width: 325px) {
    .divider-2pt:after {
        margin-top: 75px;
    }
}
@media screen and (max-width: 270px) {
    .divider-2pt:after {
        margin-top: 100px;
    }
}
@media screen and (max-width: 240px) {
    .divider-2pt:after {
        margin-top: 125px;
    }
    .location-detect {
        margin-top: 50px;
    }
}