/*----------------------------------------------
/* BASIC SETUPS */
/*----------------------------------------------*/

@font-face {
    font-family: pedija-bold;
    src: url(../fonts/poppins.bold.ttf);
}
@font-face {
    font-family: pedija-regular;
    src: url(../fonts/poppins.regular.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #fff;
    color: #141313;
    font-family: pedija-regular;
    text-rendering: optimizeLegibility;
}

/*----------------------------------------------
/* REUSABLE COMPONENTS */
/*----------------------------------------------*/
.mb-container {
  max-width: 375pt;
  height: 100vh;
  overflow: hidden;
  background-color: #ffffff;
  margin: 0px auto;
  opacity: 1;
  border: 1px solid #eee;
  padding: 20px 15px;
}

/*----------------------------------------------
/* Header */
/*----------------------------------------------*/
.icon-holder {
    display: block;
}
.search-header {
    height: 40pt;
    width: 100%;
}

.crossPageIcon {
  width: 20px;
  height: 100%;
}

.searchBar {
  width: 93%;
  height: 90%;
  border: 1pt solid #e3e3e3;
  background-color: #f5f4f4;
  padding: 10px;
  border-radius: 3pt;
  float: right;
}
.searchBar > img {
  width: 15px;
  height: auto;
  vertical-align: baseline;    
}
.searchBar > input {
  border: none;
  width: 80%;
  height: auto; 
  background: transparent;
  font-size: 14pt;
  padding-left: 8px;
  text-align: left;
  color: #bcbfd1;
  opacity: 100%;
 
}
::placeholder {
  color: #bcbfd1;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #bcbfd1;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: #bcbfd1;
}
.searchBar > input:focus{
    border: none;
     border-style: none;
    outline: none !important;
}

.search-header:after {
    display: block;
    height: 4px;
    background-color: #f5f4f4;
    content: " ";
    width: 375pt;
    margin: 0, auto;
    margin: 30px -15px 0px -15px;
}
.section-header {
    color: #242A4B;
    font-size: 18pt;
    text-align: left;
    font-family: pedija-bold;
    opacity: 100%;
    margin-top: 40px;
    margin-bottom: 35px;
    height: 22pt;
    width: 100%;
}
.location-detect p {
    width: auto;
    height: 20px;
    font-size: 14pt;
    text-align: left;
    color: #541871;
    opacity: 100%;
    margin-left:10px;
    display: inline;
}
.location-result p {
    color: #242A4B;
}
.location-detect a {
    float: right;
    margin-top: 3px;
}
.location-detect a img {
    fill: green;
    color: #AFB1BC;
    width: 10px;
    height: 19px;
}
.location-detect a:hover {
     outline: none !important;
     border: none;
}
.location-section:after {
    display: block;
    height: 1pt;
    background-color: #EDEDED;
    content: " ";
    width: 375pt;
    margin: 0, auto;
    margin: 20px -15px 20px -15px;
}
.location-result:after {
    display: block;
    height: 1pt;
    background-color: #EDEDED;
    content: " ";
    width: 100%;
    margin: 0, auto;
    margin: 20px 0px 20px 0px;
}

.img-container {
    width: 63pt;
    height: 63pt;
    margin-left: 7%;
    margin-top: 25%; 
    justify-content: center;
    padding: 10pt;
    background-color: rgba(250, 158, 10, 0.55); 
    display: inline-block;
    opacity: 70%;
    border-radius: 5pt;
}

.img-container img {
    display: block;
    margin: auto;
    margin-top: 0px;
    width: 46.02pt;
    height: 43.15pt;
}

input {
    
}

img {
    
}
